{% extends 'base.html.twig' %}

{% block content %}

    <div class="container prima-title">
        <div><strong>PROGRAM</strong></div>
    </div>

    <div class="container prima-content">
        <p class="text-justify"> Welcome to the Third Pacific Rim Mathematical Association.
        </p>

        <div class="col-lg-offset-4">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs " role="tablist">
                <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">GENERAL PROGRAM</a></li>
                <li role="presentation"><a href="#social" aria-controls="social" role="tab" data-toggle="tab">SOCIAL</a></li>
                <li role="presentation"><a href="#special" aria-controls="special" role="tab" data-toggle="tab">SPECIAL SESSIONS</a></li>
            </ul>
        </div>

        <div>
            <!-- Tab panes -->
            <div class="tab-content prima-program">
                <div role="tabpanel" class="tab-pane active table-responsive" id="general">

                    <!-- Nav tabs -->
                    <ul class="nav nav-pills nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#sunday" aria-controls="sunday" role="tab" data-toggle="pill">Sunday 13</a></li>
                        <li role="presentation"><a href="#monday" aria-controls="monday" role="tab" data-toggle="pill">Monday 14</a></li>
                        <li role="presentation"><a href="#tuesday" aria-controls="tuesday" role="tab" data-toggle="pill">Tuesday 15</a></li>
                        <li role="presentation"><a href="#wednesday" aria-controls="wednesday" role="tab" data-toggle="pill">Wednesday 16</a></li>
                        <li role="presentation"><a href="#thursday" aria-controls="thursday" role="tab" data-toggle="pill">Thursday 17</a></li>
                        <li role="presentation"><a href="#friday" aria-controls="friday" role="tab" data-toggle="pill">Friday 18</a></li>
                    </ul>
                    <h1></h1>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="sunday">
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-19:30</strong></div>
                                <div class="panel-body">
                                    <h4>REGISTRATION AND WELCOME RECEPTION</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="monday">
                            {# Monday content
                            <div class="page-header"><h3>Monday, 14 August</h3></div>#}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>INAUGURAL CEREMONY</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-10:15</strong></div>
                                <div class="panel-body">
                                    <h4>BREAK</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:15-11:15</strong></div>
                                <div class="panel-body">
                                    <h4>Jaime Urrutia Fucugauchi<br> <small class="text-muted">Public Lecture</small></h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:15-12:15</strong></div>
                                <div class="panel-body">
                                    <h4>
                                        Chenyang Xu <br><small class="text-muted">Plenary Lecture PL 1</small></h4>
                                    <a data-toggle="collapse" href="#chenyangXu" aria-expanded="false" aria-controls="chenyangXu">
                                        <strong>Moduli space of higher dimensional varieties</strong>
                                    </a>
                                    <div class="collapse" id="chenyangXu">
                                        <div class="well text-left">
                                            The space parametrising objects is called moduli space. In algebraic geometry,
                                            to construct moduli spaces for appropriate objects and to study their geometry
                                            is a central topic. In this talk, we will discuss the recent progress on the
                                            construction of moduli spaces for higher dimensional varieties, and its relations
                                            to topics like minimal model program, Kahler-Einstein metric etc.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:15-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-19:30</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 1</h3>
                                    <p>Coffee Break From 17:00 to 17:30</p>
                                    <br>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4><a href="http://gaspacho.matmor.unam.mx/special-sessions/session/matroid-theory">Matroid Theory</a></h4>
                                                {#Room 1#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Bergman Spaces and Toeplitz operators</h4>
                                               {# Room 2#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Dynamical Systems and Geometry</h4>
                                                {#Room 3#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Algebraic and Enumerative Combinatorics</h4>
                                                {#Room 4#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Symmetric Structures in Discrete Geometry</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Advances in Geometric Methods in Mechanics with Applications</h4>
                                                {#Room 6#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4><a href="{{ app.request.basepath }}/sessions/nonlinear-elliptic-pde-and-systems">Nonlinear Elliptic PDE and Systems</a></h4>
                                                {#Room 3#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Algebraic Geometry</h4>
                                                {#Room 4#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Special Functions, Orthogonal Polynomials and Applications</h4>
                                                {#Room 9#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Current Trends in Symplectic Geometry and Topology</h4>
                                                {#Room 10#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Commutative Algebra Homological and  Combinatorial Methods</h4>
                                                {#Room 11#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>19:30-20:00</strong></div>
                                <div class="panel-body">
                                    <h4></h4>
                                </div>
                            </div>
{#
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>20:00-21:00</strong></div>
                                <div class="panel-body">
                                    <h4>Public Lecture</h4>
                                </div>
                            </div>
#}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tuesday">
                            {# Tuesday content #}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>David Brydges <br> <small class="text-muted">Plenary Lecture PL 2</small></h4>
                                    <a data-toggle="collapse" href="#dBrydges" aria-expanded="false" aria-controls="dBrydges">
                                        <strong>The Wilson Renormalisation Group and $O (n)$ models</strong>
                                    </a>
                                    <div class="collapse" id="dBrydges">
                                        <div class="well text-left">
                                            The 1982 Nobel Prize in Physics was awarded to Ken Wilson for \emph{
                                            his theory for critical phenomena in connection with phase
                                            transitions}.  His work stimulated many authors to search for a
                                            rigorous systematic realisation of his calculus (The Renormalisation
                                            Group).  With the same objective we will give an introduction for a
                                            general audience to recent work of Bauerschmidt, Brydges and Slade,
                                            and other authors, which starts with the $\varphi^{4}$ model on the
                                            lattice $Z^{d}$ at weak coupling. This model is a variation on the
                                            Ising model: instead of the spin $\varphi_{x}$, for every lattice site
                                            $x \in Z^{d}$, taking values in $\{-1,1 \}$, $\varphi_{x}$ is real
                                            valued, but concentrated near $\pm 1$ by a weight that includes
                                            factors $\exp \big[-g (\varphi_{x}^{2}- 1)^{2} \big]$.  Weak coupling
                                            means $g$ is positive and small. More generally we study $O (n)$
                                            models that are defined by replacing $\varphi_{x}^{2}$ by
                                            $\|\varphi_{x}\|^{2}$ with $\varphi \in R^{n}$.  There is also a
                                            precise mathematical definition of the $n=0$ component model and it
                                            turns out to be a natural model for self-repelling walk.  Our results
                                            include a proof for $d=4$ that the susceptibility diverges with a
                                            logarithmic correction to the mean-field behaviour with exponent $(n +
                                            2)/(n + 8)$.

                                            Recently G. Slade has extended these methods to other dimensions
                                            $d$. He studies $O(n)$ models, including $n=0$, with a long range
                                            ferromagnetic spin-spin interaction that decays with distance $r$ as
                                            $r^{-(d+\alpha)}$, for $\alpha \in (0,2)$.  These models have upper
                                            critical dimension $d_c=2\alpha$.  For dimensions $d=1,2,3$ and small
                                            $\epsilon>0$, he sets $\alpha = \frac 12 (d+\epsilon)$, so that
                                            $d=d_c-\epsilon$ is below the upper critical dimension $d_{c}$.  For
                                            small $\epsilon$ and weak coupling he proves that the susceptibility
                                            decays with exponent $\gamma = 1 + \frac{n+2}{n+8} \frac
                                            \epsilon\alpha + O(\epsilon^2)$.  Expansion in $\epsilon$ for such
                                            long-range models was first carried out in the physics literature in
                                            {#1972, by Fisher, Ma and Nickel.#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Geoff Whittle <br> <small class="text-muted">Plenary Lecture PL 3</small></h4>
                                    <a data-toggle="collapse" href="#gWhittle" aria-expanded="false" aria-controls="gWhittle">
                                        <strong>What is Rota's Conjecture --- and why would you care?</strong>
                                    </a>
                                    <div class="collapse" id="gWhittle">
                                        <div class="well text-left">
                                            Recently Jim Geelen, Bert Gerards and I announced that we had a proof of
                                            Rota’s Conjecture, which concerns matroids representable over finite fields.
                                            In this talk, rather than discuss the proof, I will attempt to give a feel
                                            for the milieu in which the conjecture arose and to communicate some of the
                                            reasons why, from the time I was a graduate student, I became fascinated with it.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Manuel del Pino <br><small class="text-muted">Plenary Lecture PL 4</small></h4>
                                    <a data-toggle="collapse" href="#mPino" aria-expanded="false" aria-controls="mPino">
                                        <strong>Singularity formation and bubbling in nonlinear diffusions</strong>
                                    </a>
                                    <div class="collapse" id="mPino">
                                        <div class="well text-left">
                                            A fundamental question in nonlinear evolution equations is the analysis of
                                            solutions which develop singularities (blow-up) in finite time or as time
                                            goes to infinity. We review recent results on the construction of solutions
                                            to certain notable nonlinear parabolic PDE which exhibit this kind of
                                            behavior in the form of "bubbling". This means solutions that at main order
                                            look like asymptotically singular time-dependent scalings of a fixed finite
                                            energy entire steady state. We carry out this analysis for the classical
                                            two-dimensional harmonic map flow into the sphere and the energy-critical
                                            semilinear heat equation.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-19:30</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 1</h3>
                                    <p>Coffee Break From 17:00 to 17:30</p>
                                    <br>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4><a href="http://gaspacho.matmor.unam.mx/special-sessions/session/matroid-theory">Matroid Theory</a></h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Bergman Spaces and Toeplitz operators</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Dynamical Systems and Geometry</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Algebraic and Enumerative Combinatorics</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Symmetric Structures in Discrete Geometry</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Advances in Geometric Methods in Mechanics with Applications</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4><a href="{{ app.request.basepath }}/sessions/nonlinear-elliptic-pde-and-systems">Nonlinear Elliptic PDE and Systems</a></h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Algebraic Geometry</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Special Functions, Orthogonal Polynomials and Applications</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Current Trends in Symplectic Geometry and Topology</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Commutative Algebra Homological and  Combinatorial Methods</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>19:30-20:00</strong></div>
                                <div class="panel-body">
                                    <h4></h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>20:00-21:00</strong></div>
                                <div class="panel-body">
                                    <h4>Mariel Vazquez <br> Public Lecture</h4>
                                    <a data-toggle="collapse" href="#mVazquezPL" aria-expanded="false" aria-controls="mVazquezPL">
                                        <strong>Conectando y reconectando: un enlace entre las matemáticas, la física y el ADN</strong>
                                    </a>
                                    <div class="collapse" id="mVazquezPL">
                                        <div class="well text-left">
                                             ¿Qué tienen en común los aros de humo y las molecular circulares de ADN?
                                            Los dos están sujetos a procesos de reconección local, que son communes tanto
                                            en biología como en física. En biología, rearreglos cromosómicos surgen a
                                            raíz de errores en la replicación del ADN, como daños ocasionados por
                                            radiación, y caracterizan a ciertas celulas cancerígenas. En esta plática
                                            mostramos como se aplican herramientas de topología, simulaciones y
                                            visualización computacional para analizar datos de reconección.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="wednesday">
                            {# Wednesday content
                            <div class="page-header"><h3>Monday, 14 August</h3></div>#}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Hee Oh <br><small class="text-muted"> Plenary Lecture PL 5</small></h4>
                                    <a data-toggle="collapse" href="#hHoo" aria-expanded="false" aria-controls="hHoo">
                                        <strong>Prime number theorems for hyperbolic manifolds and rational maps</strong>
                                    </a>
                                    <div class="collapse" id="hHoo">
                                        <div class="well text-left">
                                            The prime number theorem states that the number of primes of size at most
                                            T grows like T/log T. Geometric analogues of this profound fact have been of
                                            great interest over the years. In my lecture, I will discuss refined versions
                                            of the prime number theorem for hyperbolic 3-manifolds and for hyperbolic rational maps.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>William Duke <br><small class="text-muted"> Plenary Lecture PL 6</small></h4>
                                    <a data-toggle="collapse" href="#wDuke" aria-expanded="false" aria-controls="wDuke">
                                        <strong>The geometry of real quadratic fields</strong>
                                    </a>
                                    <div class="collapse" id="wDuke">
                                        <div class="well text-left">
                                            My aim is to give a general and accessible description of joint work with
                                            Ozlem Imamoglu and Arpad Toth on some new geometric invariants associated
                                            to real quadratic fields. These are hyperbolic surfaces bounded by closed
                                            geodesics whose geometric properties are highly arithmetic.
                                            Key to their study are  automorphic forms and $L$-functions. Several areas
                                            of math enter, including algebraic and analytic number theory, geometry and
                                            spectral theory.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Fernando Codá Marques <br>
                                        <small class="text-muted"> Plenary Lecture PL 7</small></h4>
                                    <a data-toggle="collapse" href="#fernandoCoda" aria-expanded="false" aria-controls="fernandoCoda">
                                        <strong>Minimal hypersurfaces and a Weyl law for the volume spectrum</strong>
                                    </a>
                                    <div class="collapse" id="fernandoCoda">
                                        <div class="well text-left">
                                            In 1911, Hermann Weyl proved a universal formula  that describes
                                            the asymptotic behavior of the eigenvalues of the Laplacian. I will discuss
                                            a proof (joint work with Liokumovich and Neves) of a Weyl law for the
                                            volume spectrum, as conjectured by Gromov. The eigenvalues of the Laplacian
                                            are replaced by the areas of minimal hypersurfaces constructed by minimax
                                            methods.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-20:00</strong></div>
                                <div class="panel-body">
                                    FREE AFTERNOON
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>20:00-</strong></div>
                                <div class="panel-body">
                                    <h4>Banquet</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="thursday">
                            {# Thursday content #}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Ana Amador <br><small class="text-muted"> Plenary Lecture PL 8</small></h4>
                                    <a data-toggle="collapse" href="#aAmador" aria-expanded="false" aria-controls="aAmador">
                                        <strong>Birdsong to study neural control in a learned sensorimotor task</strong>
                                    </a>
                                    <div class="collapse" id="aAmador">
                                        <div class="well text-left">
                                            Birdsong is a complex motor activity that emerges from the interaction between
                                            the peripheral system (PS), the central nervous system (CNS) and the environment.
                                            The similarities to human speech, both in production and learning, have positioned
                                            songbirds as unique animal models for studying this learned motor skill. In this
                                            talk I will present a low dimensional dynamical system as a model of the avian
                                            vocal apparatus. Inputs can be related to physiological variables, being the
                                            output a synthetic song (SYN) that is a copy of the recorded birdsong (BOS).
                                            To go beyond sound comparison, we measured neural activity highly tuned to BOS
                                            and found that the patterns of neural response to BOS and SYN were remarkable
                                            similar. This work allowed to relate motor gestures and neural activity, making
                                            specific predictions on the timing of the neural activity. To study the dynamical
                                            emergence of these features, we developed a neural model in which the variables
                                            were the average activities of different neural populations within the nuclei of
                                            the song system. This model can reproduce the measured respiratory patterns and the
                                            timing of the neural activity. In this talk, I will present experimental data in
                                            accordance with the dynamical model. This interdisciplinary work shows how low
                                            dimensional models for the PS and CNS can be a valuable tool for studying the
                                            neuroscience of generation and control of complex motor tasks.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Hiraku Nakajima <br><small class="text-muted"> Plenary Lecture PL 9</small></h4>
                                    <a data-toggle="collapse" href="#hNakajima" aria-expanded="false" aria-controls="hNakajima">
                                        <strong>Quiver gauge theories and Kac-Moody Lie algebras</strong>
                                    </a>
                                    <div class="collapse" id="hNakajima">
                                        <div class="well text-left">
                                           Quiver gauge theories give two types of algebraic symplectic
                                            varieties, which are called quiver varieties and Coulomb branches
                                            respectively. The first ones were introduced by the speaker in 1994, and
                                            their homology groups are representations of Kac-Moody Lie algebras. The
                                            second ones were introduced by the speaker and Braverman, Finkelberg in
                                            2016. Two types of varieties are very different (e.g., dimensions are
                                            different), but expected to be related in rather mysterious ways. As an
                                            example of mysterious links, I would like to explain a conjectural
                                            realization of Kac-Moody Lie algebras representations on homology groups of
                                            Coulomb branches. It nicely matches with geometric Satake correspondence
                                            for usual finite dimensional complex simple groups and loop groups.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4> Lexing Ying <br>  <small class="text-muted"> Plenary Lecture PL 10</small></h4>
                                    <a data-toggle="collapse" href="#lYing" aria-expanded="false" aria-controls="lYing">
                                        <strong>Preconditioning high frequency wave equations</strong>
                                    </a>
                                    <div class="collapse" id="lYing">
                                        <div class="well text-left">
                                            High frequency wave propagation has been a longstanding challenge in
                                            scientific computing. For the time-harmonic problems, the linear systems
                                            resulting from PDE and/or integral formulations are difficult to solve for
                                            standard iterative methods since they are highly indefinite. In this talk,
                                            we consider several such cases that arise from applications. For each one,
                                            we construct a sparsifying preconditioner that results in small numbers of
                                            iterations when combined with a standard iterative solver.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-19:30</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 2</h3>
                                    <p>Coffee Break from 17:00 to 17:30 </p><br>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Differential Geometry</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Geometry and
                                                    Topology.</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4><del>Mathematical Ecology and Epidemiology</del></h4>
                                                <strong>CANCELED</strong>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Discrete Math</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Matrix Analysis and its Applications</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Instability of natural convection in cylindrical containers</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Groups and orbifolds in geometry and topology</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Singularities of Spaces and Mappings</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Poisson Geometry and Its Applications</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="well">
                                                <h4>Inverse problems and PDE Control Theory</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="well">
                                                <h4>Stochastic Processes and Applications</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>20:00-21:00</strong></div>
                                <div class="panel-body">
                                    <h4>PRIMA Assembly</h4>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="friday">
                            {# Friday content #}
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>09:00-10:00</strong></div>
                                <div class="panel-body">
                                    <h4>Mariel Vazquez <br> <small class="text-muted">Plenary Lecture PL 11 </small></h4>
                                    <a data-toggle="collapse" href="#mVazquez" aria-expanded="false" aria-controls="mVazquez">
                                        <strong>Pathways of Unlinking by Local Reconnection</strong>
                                    </a>
                                    <div class="collapse" id="mVazquez">
                                        <div class="well text-left">
                                            Reconnection processes appear at widely different scales, from microscopic
                                            DNA recombination to large-scale reconnection of vortices in fluid
                                            turbulence. Motivated by biological data, in this talk I illustrate how our
                                            group uses tools from knot theory and low-dimensional topology, combined
                                            with computer simulations and visualization methods to characterize the
                                            process of topology simplification by local reconnection. Replication of
                                            circular DNA yields 2-component links of type T(2,2n). Unlinking the DNA
                                            circles is essential to cell survival. We provide mathematical proof that
                                            there is a unique minimal pathway of DNA unlinking by local reconnection
                                            assuming that at every step the topological complexity goes down. We also
                                            investigate, both analytically and numerically, whether there are other
                                            minimal pathways of unlinking replication links by local reconnection when
                                            we relax the complexity assumption. We introduce a Monte Carlo method to
                                            simulate local reconnection, provide a quantitative measure to distinguish
                                            among pathways and conclude that the unique unlinking pathway found under
                                            the strict assumption remains the most probable after the assumption is
                                            lifted. These results point to a universal property relevant to any local
                                            reconnection event between two sites along one or two circles, such as the
                                            reconnection of knotted fluid vortices.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>10:00-11:00</strong></div>
                                <div class="panel-body">
                                    <h4>Alexey Bondal
                                        <br><small class="text-muted">Plenary Lecture PL 12</small></h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>11:00-12:00</strong></div>
                                <div class="panel-body">
                                    <h4>Ian Agol <br><small class="text-muted">Plenary Lecture PL 13</small></h4>
                                    <a data-toggle="collapse" href="#ianAgol" aria-expanded="false" aria-controls="ianAgol">
                                        <strong>Coloring problems for maps on surfaces</strong>
                                    </a>
                                    <div class="collapse" id="ianAgol">
                                        <div class="well text-left">
                                            We'll discuss colorings of certain sorts of maps on surfaces. The first case is quadrangulations of the
                                            plane satisfying a combinatorial condition. We generalize a result that Penrose tilings (and more generally tilings
                                            by parallelograms) are 3-colorable to this more general class of quadrangulations. The second question we'll
                                            consider is whether maps on compact surfaces have a finite-sheeted cover which is 4-colorable. We'll describe some preliminary
                                            results on this question, and explain a possible reduction to a question about measure-preserving actions of free
                                            groups on colorings of a graph.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>12:00-15:00</strong></div>
                                <div class="panel-body">
                                    <h4>LUNCH</h4>
                                </div>
                            </div>
                            <div class="panel panel-timeline text-center">
                                <div class="panel-heading"><strong>15:00-19:30</strong></div>
                                <div class="panel-body">
                                    <h3>Special Sessions Group 2</h3>
                                    <p>Coffee Break from 17:00 to 17:30 </p><br>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Differential Geometry</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Geometry and Topology.</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4><del>Mathematical Ecology and Epidemiology</del></h4>
                                                <strong>CANCELED</strong>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Discrete Math</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Matrix Analysis and its Applications</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Instability of natural convection in cylindrical containers</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-flex row-flex-wrap">
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Groups and orbifolds in geometry and topology</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Singularities of Spaces and Mappings</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="well">
                                                <h4>Poisson Geometry and Its Applications</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="well">
                                                <h4>Inverse problems and PDE Control Theory</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="well">
                                                <h4>Stochastic Processes and Applications</h4>
                                                {#Room 5#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="social"></div>
                <div role="tabpanel" class="tab-pane table-responsive" id="special">

                    {#<div class="special-session-a" ><strong><a href="{{ app.request.basepath }}/sessions/matroid-theory">Matroid Theory</a></strong><br>#}
                    <div class="special-session-a" ><strong><a href="http://gaspacho.matmor.unam.mx/special-sessions/session/matroid-theory">Matroid Theory</a></strong><br>
                        <small>
                        Carolyn Chun, US Naval Academy, 121 Blake Rd, Annapolis, MD 21402, United States. E-mail: chchchun<i class="fa fa-at" aria-hidden="true"></i>gmail.com.<br>
                        Criel Merino, UNAM, León 2, altos, centro 68000, Oaxaca, Oax., México. Email: merino<i class="fa fa-at" aria-hidden="true"></i>matem.unam.mx, main contact organizer.<br>
                        Peter Nelson, Department of Combinatorics and Optimization, University of Waterloo, Waterloo, ON N2L3G1, Canada. E-mail: apnelson<i class="fa fa-at" aria-hidden="true"></i>uwaterloo.ca
                        </small>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Bergman Spaces and Toeplitz operators</strong><br>
                        <small>Salvador Perez Esteva (IM-Cuer) Kehe Zhu (St. Univ New York Albay)</small> <br>
                        <small>spesteva<i class="fa fa-at" aria-hidden="true"></i>im.unam.mx</small><br>
                    </div>
                    </br>
                    <div class="special-session-a" ><strong>Dynamical Systems and Geometry</strong><br>
                        <small>Carlos Cabrera-Aubin Arroyo (IM-Cuer), Tomoki Kawahira (Tokyo I. Of Technology), Federico Rodriuez (Penn State), Andres Navas (U. De santiago)</small> <br>
                        <small>aubinarroyo<i class="fa fa-at" aria-hidden="true"></i>im.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Differential Geometry</strong><br>
                        <small>Kazuo Akutagawa Tokyo I. of Tech.), Akito Futaki (U. of Tokyo), Jimy Petean (CIMAT)</small> <br>
                        <small>jimmy<i class="fa fa-at" aria-hidden="true"></i>cimat.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-a" ><strong>Current Trends in Symplectic Geometry and
                            Topology.</strong><br>
                        <small>Cheol-Hyun Cho (Seoul National. Univ.), Eduardo Gonzalez (UMASS, Boston), Kaoru Ono (RImS, Kyoto), Andres Pedroza (Colima), Yasha Savelyev (Colima)</small> <br>
                        <small>andres_pedroza<i class="fa fa-at" aria-hidden="true"></i>ucol.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Symmetric Structures in Discrete Geometry</strong><br>
                        <small>Asia Ivic Weiss ( York Univ.), Daniel Pellicer (CCM), Egon Schulte (NE University, Boston)</small> <br>
                        <small>pellicer<i class="fa fa-at" aria-hidden="true"></i>matmor.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Algebraic and Enumerative Combinatorics</strong><br>
                        <small>Ernesto Vallejo (CCM) Marcelo Aguiar (Cornell) Nantel Bergeron (York, Canada)</small> <br>
                        <small>ernevallejo<i class="fa fa-at" aria-hidden="true"></i>gmail.com</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Discrete Math</strong><br>
                        <small>Natalia García Colín  (Infotec), Luis Goddyn (Simon Fraser Univ.),  Amanda Montejano (UNAM)</small> <br>
                        <small>garciacolin.natalia<i class="fa fa-at" aria-hidden="true"></i>googlemail.com</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong><del>Mathematical Ecology and Epidemiology</del></strong> - CANCELED<br>
                        {#<small>Jorge Velasco (IM-Juriquilla) Michael Li (U. Alberta) Hisahi Inaba (U. Tokyo) Ying-Hen (China Med. University)</small> <br>#}
                        {#<small>jx.velasco<i class="fa fa-at" aria-hidden="true"></i>im.unam.mx</small><br>#}
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Advances in Geometric Methods in Mechanics with Applications</strong><br>
                        <small>Antonio Hernández Garduño (UAM - Iztapalapa), Vakhtang Putkaradza (Alberta), Dmitry Zenkov (NCSU)</small> <br>
                        <small>putkarad<i class="fa fa-at" aria-hidden="true"></i>ualberta.ca</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong><a href="{{ app.request.basepath }}/sessions/nonlinear-elliptic-pde-and-systems">Nonlinear Elliptic PDE and Systems</a></strong><br>
                        <small>Nils Ackerman (IM) Jaeyoung Byeon (South Korea) Yihong Du (Australia) Monica Musso (Chile) </small> <br>
                        <small>nils<i class="fa fa-at" aria-hidden="true"></i>ackermath.info</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Matrix Analysis and its Applications</strong><br>
                        <small>Qing-Wen Wamng (Shangai Univ.), Fuhzen  Zhang (Miami), Yang Zhang (Mantoba)</small> <br>
                        <small>zhang<i class="fa fa-at" aria-hidden="true"></i>nova.edu</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Instability of natural convection in cylindrical containers</strong><br>
                        <small>Eduardo Ramos (IER, UNAM)</small> <br>
                        <small>erm<i class="fa fa-at" aria-hidden="true"></i>ier.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Algebraic Geometry</strong><br>
                        <small>Pedro Luis del Angel (CIMAT), Keinichiro Kimura (Tsukuba)</small> <br>
                        <small>luis<i class="fa fa-at" aria-hidden="true"></i>cimat.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Groups and orbifolds in geometry and topology</strong><br>
                        <small>Ernesto Lupercio (CINVESTAV) Alejandro Adem (UBC) Jianzhang Pan (Academia Sinica, China)</small> <br>
                        <small>lupercio<i class="fa fa-at" aria-hidden="true"></i>math.cinvestav.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Special Functions, Orthogonal Polynomials and Applications</strong><br>
                        <small>Manuel Dominguez (IM, UNAM), Luis E. Garza Gaona (Colima)</small> <br>
                        <small>mdi29<i class="fa fa-at" aria-hidden="true"></i>im.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Singularities of Spaces and Mappings</strong><br>
                        <small>Jawad Snousi-Jose Seade (IM-Cuer) David Massey (USA) Masaharu Ishikawa (Japan) Nguyen Viet Dung (Vietnam)</small> <br>
                        <small>jsnoussi<i class="fa fa-at" aria-hidden="true"></i>im.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Poisson Geometry and Its Applications</strong><br>
                        <small>Misael Avendaño (UNISON), Matias del Hoyo (IMPA), Rui Loja Fernandes (U. Illinois-Urbana), Yuri Vorobiev (U. de Sonora)</small> <br>
                        <small>misaelave<i class="fa fa-at" aria-hidden="true"></i>mat.uson.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Geometry and
                            Topology.</strong><br>
                        <small>Daniel Juan (CCM), Chris Connell (Indiana), Fuquan Fang (Capital Normal Univ. China)</small> <br>
                        <small>daniel<i class="fa fa-at" aria-hidden="true"></i>matmor.unam.mx</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Inverse problems and PDE Control Theory</strong><br>
                        <small> Luz de Teresa (IM-UNAM), Héctor Morales Bárcenas (UAM-Mexico),  Abdon Choque (IFM)</small> <br>
                        <small>abdon.ifm<i class="fa fa-at" aria-hidden="true"></i>gmail.com</small><br>
                    </div>
                    </br>

                    <div class="special-session-a"><strong>Commutative Algebra: Homological and Combinatorial Methods</strong><br>
                        <small>Louiza Fouli (New Mexico State Univ.), Luis Nuñez Betancourt (CIMA), Rafael Heraclio Villareal (Cinvestav), Yuji Yoshino (Okayama Univ.)</small> <br>
                        <small>rhvillarreal<i class="fa fa-at" aria-hidden="true"></i>gmail.com</small><br>
                    </div>
                    </br>

                    <div class="special-session-b"><strong>Stochastic Processes and Applications</strong><br>
                        <small>Victor Rivero (CIMAT) Joaquin Fontbona (DIM Chile) Kouji Yano (Kyoto)</small> <br>
                        <small>jcpardo<i class="fa fa-at" aria-hidden="true"></i>cimat.mx</small><br>
                    </div>
                    </br>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

{% endblock %}